body {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px per rem  */
  font-family: "Libre Baskerville", serif;
}

.filter--button.active {
  transform: translateY(-3px);
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.filter__container {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  margin: 2rem;
  flex-wrap: wrap;
}

.filter__container img {
  width: 2rem;
}

.filter--button {
  display: flex;
  flex-direction: column;
  background: none;
  border: none;
  padding: 0.5rem 2rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  transition: all ease-out 0.3s;
  font-weight: 700;
  font-size: 1.5rem;
}

.filter--button span {
  font-size: 1.2rem;
  margin-top: 0.3rem;
  font-weight: normal;
}

.filter--button:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-3px);
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  padding: 0 1rem; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */

.gallery__card {
  margin-bottom: 2rem;
  object-fit: cover;
  position: relative;
}

.gallery__card:hover .gallery__image {
  /* transform: scale(1.); */
  filter: brightness(70%);
}
.gallery__card:hover .gallery__image-name,
.gallery__card:hover .gallery__image-artist {
  transform: translateY(-20px);
}

.gallery__image {
  width: 100%;
  display: block;
  margin-bottom: 2rem;
  transition: all ease-out 0.3s;
  filter: brightness(50%);
}

.gallery--details {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  color: #fff;
  width: 100%;
  padding: 1rem;
  z-index: 3;
}

/* .gallery--details */

.gallery__image-name {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 5px;
  transition: all ease-out 0.3s;
}

.gallery__image-artist {
  color: rgba(255, 255, 255, 0.7);
  transition: all ease-out 0.3s;
  font-size: 1.3rem;
}

.single-gallery__history {
  font-size: 1rem;
}
